.Help {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Help .fasta-example {
    background-color: #EEEEEE;
    border: #003B5C 1px solid;
    border-radius: 3px;
    width: 400px;
    margin: 0 100px;
    height: fit-content;
}

.Help .fasta-example pre {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 0px 5px;
}