.loader {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader > span {
    display: inline-block;
    background-color: #00b2a9;
    border-radius: 50%;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    animation: ThreeBounce 1s ease-in-out infinite both;
}

.loader > span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes ThreeBounce {
    0%, 80%, 100%
    {
        /* background-color: #1aabf3; */
        transform: scale(0);
    }
    40%
    {
        /* background-color: #0067dd;
        transform: translateY(5px); */
        transform: scale(1.0);
    }
    /* 75%
    {
        
    }
    100%
    {
        background-color: #0094dd;
    } */
}