.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

/* print style */
.result table {
    page-break-inside:auto;
}
.result tr {
    page-break-inside:avoid;
    page-break-after:auto;
}
.result thead { 
    display:table-header-group; 
}
.result tfoot { 
    display:table-footer-group; 
}
@page { 
    size: auto;
    margin: 20mm 0 10mm 0;
}
/* print style */

.result .table {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-collapse: collapse;
}

.result .table .table-head {
    /* text-transform: uppercase; */
}

.result .table .table-head .table-row {
    background-color: #00b2a9;
    border-radius: 3px 3px 0 0 ;
}

.result .table .table-row .sequence-column {
    margin-right: 50px;
    width: 100px;
}

.result .table .table-row {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px 20px;
}

.result .table tbody .table-row td:nth-child(3) {
    /* font-size: 10px; */
    align-self: center;
}

.result .table .table-body .table-row {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    color: #03203A;
}

.result .table .table-body .table-row:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.result .table .table-body .table-row:last-child {
    border-bottom: 2px solid #00b2a9;
}

.result .table .table-body .table-row:nth-child(odd) {
    background-color: rgba(250, 249, 249, 0.521);
}

.result .table .table-body .table-row:hover {
    background-color: #7eb4cf1a;
}

.result ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
    border-radius: 5px;
}

.result ul li a {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    color: black;
    transition: 200ms ease;
}

.result ul li a:hover {
    cursor: pointer;
    background-color: #003B5C;
    border-radius: 3px;
    color: #fff;
    transition: 300ms ease;
}

.result ul li.next a:hover,
.result ul li.previous a:hover {
    background-color: white;
}

.result ul li.disabled {
    opacity: 0.2;
}

.result ul li.active a {
    border-radius: 3px;
    border: #003B5C solid 1px;
}

@media (max-width: 940px) {
    .result .table-row {
        font-size: 12px;
    }

    .result ul li a {
        min-width: 20px;
        height: 20px;
        font-size: 12px;
    }
}