.Server {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    /* grid-template-columns: 4fr 8fr; */
    gap: 15px;
    padding: 10px;
    height: calc('100vh - 70px');
    color: white;
}

/* when isLoading is true */
/* .Server .results {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.Server .error-box {
    background-color: rgba(41, 41, 41, 0.918);
    color: #fff;
    padding: 20px 30px;
    border-radius: 3px;
    position: fixed;
    left: 5px;
    bottom: 10px;
    transition: 300ms ease-out;
    opacity: 0;
}

.Server .error-box.show {
    transition: 300ms ease-in;
    opacity: 1;
}

.Server .icon {
    font-size: 1.4em;
    margin-right: 10px;
}

.Server .results .export {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.Server .results .export .icon {
    color: black;
    margin: 0px 20px;
    transition: 600ms ease;
}

.Server .results .export .icon:hover {
    color: darkorange;
    transition: 100ms ease;
    cursor: pointer;
    transform: scale(1.3);
}

.Server .results .export .icon.pdf:hover {
    color: #F40F02;
}

.Server .results .export .icon.excel:hover {
    color: #1D6F42;
}

.Server .results .export .icon.csv:hover {
    color: #1c917d;
}

.Server .results .export .icon.printer:hover {
    color: #22aee6c2;
}

.Server .input-area {
    width: 500px;
    background-color: #fff;
    border-radius: 1px 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms ease-in-out;
    height: 100%;
}

.Server .input-area p {
    color: black;
    font-size: 11px;
    margin: 5px;
}

.Server .input-area p a {
    text-decoration: none;
}

.Server .input-area p a:hover {
    text-decoration: underline;
}

.Server .input-area .file {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    margin: 50px;
}

.Server .input-area .options {
    border: #003B5C 1px solid;
    width: calc(100% - 110px);
    padding-top: 15px;
    padding-left: 5px;
    color: black;
}

.Server .input-area textarea {
    width: calc(100% - 110px);
    height: 300px;
    padding-top: 15px;
    padding-left: 5px;
    border-radius: 3px;
    outline: none;
    resize: none;
    /* border: none; */
    border-color: rgb(141, 141, 141);
    border-width: 1px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    /* border: darkgray 1px solid; */
    transition: 300ms ease;
    background-color: #EEEEEE;
}

.Server .input-area textarea.error {
    border-color: #FF9494;
    background-color: #ff949448;
}

.Server .input-area .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    color: black;
}

.Server .input-area textarea:is(:focus) {
    border-color: #003B5C;
    transition: 500ms ease;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.Server .input-area .btn {
    background-color: #00b2a9;
    color: white;
    border: none;
    height: 25px;
    border-radius: 3px;
    transition: 300ms ease;
}

.Server .input-area .option {
    border: #003B5C 2px solid;;
    background-color: transparent;
    color: #003B5C;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 300ms ease;
}

.Server .input-area .option:hover {
    background-color: #003B5C;
    color: #fff;
    cursor: pointer;
    transition: 300ms ease;
}

.Server .input-area .option-is-active {
    /* transition: 300ms ease; */
}

.Server .input-area .btn:hover {
    cursor: pointer;
    background-color: #008f86;
    transition: 200ms ease;
}

.Server .input-area .btn {
    width: calc(100% - 100px);
    height: 40px;
    margin-top: 30px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 100ms ease;
}

.Server .input-area input[type="submit"] {
    background-color: #fff;
    color: #003B5C;
    border: #003B5C 2px solid;
    width: 200px;
    height: 40px;
    margin: 30px 10px;
    border-radius: 20px;
}

.Server .input-area input[type="submit"]:hover {
    background-color: #003B5C;
    color: #fff;
}

.Server .results {
    opacity: 0;
    width: 0;
    background-color: #fff;
    border-radius: 1px 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 20px;
}

.Server .results.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.Server .results.show {
    opacity: 1;
    width: 65%;
    transition: 400ms ease-in-out;
}

.Server .input-area .options {
    height: auto;
    max-height: 0px;
    opacity: 0;
    transition: max-height 400ms ease-in-out;
    overflow: hidden;
}

.Server .input-area .options.show {
    opacity: 1;
    max-height: 400px;
    transition: max-height 400ms ease-in-out;
}

@media (max-width: 940px) {
    .Server {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }

    .Server .input-area,
    .Server .results.show {
        width: 450px;
    }
}

@media (max-width: 600px) {
    .Server {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Server .input-area,
    .Server .results.show,
    .Server .results.results.loading {
        width: 400px;
    }
}